# Arquivos do Python
__pycache__/
*.pyc
.pytest_cache/

# Ambiente Virtual
venv/
env/

# Arquivos de dados e uploads
instance/
uploads/
*.db

# Variáveis de ambiente
.env

# Cache de IDEs
.idea/
.vscode/
*.swp

# Arquivos de log
*.log

# Artefatos do sistema
.DS_Store
Thumbs.db